Geo Data Science with Python,
Prof. Susanna Werth, VT Geosciences

---
### Tutorial - Lecture 3

# A taste of Python

To practice working with Jupyter Notebook we will jump right into the cold water and try out some Python. We will learn a bit of the basic operations you can perform with Python, using variables, arithmetic and modules. Carefully study the content of this Notebook and use the chance to reflect the material through the interactive examples.

### Sources
This material was inspired by the Lesson 1 (["A taste of Python"](https://geo-python.github.io/site/2018/notebooks/L1/a-taste-of-python.html))  from the [Geo-Python](https://geo-python.github.io/site/) website, which is licensed under CC (Attribution-ShareAlike 4.0 International).

### Getting started & about the interactive content of this document
This is a Jupyter Notebook discussing basic concepts of programming in Python. The content of this document is divided into cells, which can contain Markdown-formatted text, Python code, or raw text. If you open this document in a Jupyter Notebook environment, Python coding cells become interactive.

In Jupyter Notebook environments, you will be able to execute cells containing Python code by clicking on the play button at the beginning of the cell or by pressing **Shift-Enter**. You can also experiment and alter the code in the cells. Try this out in the examples below. 

You can also double click on Markdown cells to see their source code and study formating options.

**In the menu above you can**:

- *Run > All Cells*  This will run all cells in the notebook (until an error occurs).

- *Kernel > Restart Kernel...*  This restarts the Python interpreter

- *Kernel > Restart Kernel and Clear All Outputs...* This also clears output from all code cells

There are more options you can try that might be helpful.

---

# A: Simple Python math

Python can be used as a simple calculator. Remember, you can press **Shift-Enter** to execute the code in the cells below. Try it out and see what you get.

In [1]:
5+10

15

In [2]:
56 / 89

0.6292134831460674

If you want to edit and re-run some code, simply make changes to the cell and press **Shift-Enter** to execute the revised code.

## Math operations

The list of basic arithmetic operations that can be done by default in Python is in the table below.

| Operation      | Symbol | Example syntax | Returned value |
| :- | :-: | :-: | :-: |
| Addition       | `+`    | `2 + 2`        | `4`            |
| Subtraction    | `-`    | `4 - 2`        | `2`            |
| Multiplication | `*`    | `2 * 3`        | `6`            | 
| Division       | `/`    | `4 / 2`        | `2`            |
| Exponentiation | `**`   | `2**3`         | `8`            |

A list of basic functions can be found here: https://docs.python.org/3/library/functions.html

For anything more advanced, we need to load a *module*.

## Functions

You can use Python for more advanced math by using functions. Functions are pieces of code that perform a single action such as printing information to the screen (e.g., the print() function). Functions exist for a huge number of operations in Python.

In [3]:
x = 12 + 56 + 63

In [4]:
print(x)

131

## Modules

For anything more advanced, we need to load a *module*.

In [5]:
import math
math.factorial(4)

24

In [9]:
math.gcd(81, 9, 45)

9

We can see a few interesting things above:

1. A *module*, also known as a *library*, is a group of code items such as functions that are related to one another.
Modules are loaded using ``import``.
Functions that are part of the module ``modulename`` could then be used by typing ``modulename.functionname()``.
For example, ``sin()`` is a function that is part of the ``math`` module, and used by typing ``math.sin()`` with some number between the parentheses.

2. Within a given Jupyter Notebook the variables you define earlier in the notebook will be available for use in the cells that follow as long as you have already executed the cells.

3. Modules may also contain constants such as ``math.pi``.

We will learn more about this later in class.

## Combining functions

Functions can also be combined

In [11]:
math.sqrt(math.gcd(81, 9, 45))

3.0

In [13]:
print("Using two functions together, sqrt of the gcd of 81, 9, 45 is:",math.sqrt(math.gcd(81, 9, 45)))

Using two functions together, sqrt of the gcd of 81, 9, 45 is: 3.0

---

# B Variables

*Variables* can be used to store values calculated in expressions and used for other calculations.

## Python Assignment: Dynamic Typing

Python automatically figures out the type of a variable whet you first assign it a value (no need to declare it). Types is associated with object, not with variable name.

In [15]:
a = 56
type(a)

int

In [16]:
b = 3.14159
type(b)

float

In [17]:
c = False
type(c)

bool

## Data types

There are 4 basic *data types* in Python as shown in the table below.

| Data type name | Data type            | Example    |
| :-: | :-: | :-: |
| `int`          | Whole integer values | `4`        |
| `float`        | Decimal values       | `3.1415`   |
| `str`          | Character strings    | `'Hot'`    |
| `bool`         | True/false values    | `True`     |

The data type can be found using the `type()` function.
As you will see, the data types are important because some are not compatible with one another.
We will learn more data types the next time.

In [19]:
d = "True"
type(d)

str

## A more practical example

Let's assign some temperature data to a variable

In [20]:
temp_celsius = 10.0
print(temp_celsius)

10.0

Above, we also see one common format for good variable naming, separation of words by underscores `_` (e.g., `temp_celsius`). This is called *pothole_case_naming*. Weâ€™ll see another below.

In [21]:
print('Temperature in Fahrenheit:', 9/5 * temp_celsius + 32)

Temperature in Fahrenheit: 50.0

## Updating variables

Values stored in variables can also be updated.

In [22]:
temp_celsius = 15.0

In [23]:
print('temperature in Celsius is now:', temp_celsius)

temperature in Celsius is now: 15.0

## Unknown variables

<div class="alert alert-warning">

**Warning**

If you try to run some code that accesses a variable that has not yet been defined you will get a `NameError` message.

</div>

In [26]:
print('Temperature in Celsius:', 5/9 * (tempFahrenheit - 32))

Temperature in Celsius: 15.0

<div class="alert alert-info">

**Note**

One of the cool things here is that if we define the undefined variable in a later cell and execute that cell, we can return to the earlier one and the code should now work. That was a bit of a complicated sentence, so let's test this all out. First, execute the Python code in the cell below. Then, return to the cell above this text and run it again. See how the error message has gone away? `tempFahrenheit` has now been defined and thus the cell above no longer generates a `NameError` when the code is executed.

Also, the number beside the cell, for example `In [2]`, tells you the order in which the Python cells have been executed. This way you can see a history of the commands you've executed
</div>

In [25]:
tempFahrenheit = 9/5 * temp_celsius + 32

In [27]:
print('temperature in Celsius:', temp_celsius, 'and in Fahrenheit:', tempFahrenheit)

temperature in Celsius: 15.0 and in Fahrenheit: 59.0

## Compatibility of variables

In [29]:
weatherForecast = 'Hot'
type(weatherForecast)

str

In [28]:
tempFahrenheit = tempFahrenheit + 5.0 * weatherForecast

NameError: name 'weatherForecast' is not defined

In this case we get at `TypeError` because we are trying to execute a math operation with data types that are not compatible. There is no way in Python to multpily numbers with a character string.

## Mutability, Strong Typing and Methods

Some Python objects can mutate. Mutability describes the possibility of in-place modification of objects by calling functions or methods. These functions typically may not have any output, but change the input object. Numbers, strings, and tuples are immutable. Lists, dictionaries, and sets are mutable. Due to this concept, methods and functions are type-specific.

In [30]:
weatherForecast.lower()

'hot'

In [31]:
print(weatherForecast)

Hot

In [32]:
tempFahrenheit.upper() # the method upper does not work on numbers, only on strings!

AttributeError: 'float' object has no attribute 'upper'

---

# Check your understanding

Use the empty Python cell below to try the following:

- Define some variables. The variable value can be anything you like. Consider using pothole_case_naming for your variable name.
- Print their values to the screen using the `print()` function. You can even consider defining several variables and printing them out together.
- Check the type of your variables. 
- Apply functions or methods that you have learned.

In [33]:
# Place your code on the line(s) below. Note that lines starting with "#" are ignored in Python.

#TOA Spectral Radiance = (RADIANCE_MULT_BAND_x) * (Bx) + (RADIANCE_ADD_BAND_x)

radiance_mult_band = 0.0003342

band_x_value = 562

added_radiance = 0.1

In [34]:
tsr = radiance_mult_band*band_x_value + added_radiance

In [35]:
print("Calculated Top of Atmosphere Spectral Radiance from the Landsat 8 Cell is:", tsr, "")

Calculated Top of Atmosphere Spectral Radiance from the Landsat 8 Cell is: 0.2878204