Geo Data Science with Python,
Prof. Susanna Werth, VT Geosciences

---
### Exercise 3

# Basic Object Types, Lists and Dictionaries

### Content & Grading

You will receive the following points for this exercise:

- A. <a href='#basic'> Basic Object Types </a> - 20 Points
- B. <a href='#list'> Lists </a> - 30 Points
- C. <a href='#dict'> Dictionaries </a> - 30 Points
- D. <a href='#opt'> Optional Studies </a> - 20 Extra Credit Points 

Total: 80 + 20

---

### Name and Collaborator
Add your name and the name of any collaborator in the code cell below.

In [2]:
Name = 'Nazmul Huda'
Collaborators = ['']

---

<a id='basic'></a>
# A. Basic Object Types

--- 
### Task A.1: Built-in Operations

Search the folowing websites listing basic expression operators (https://www.tutorialspoint.com/python/python_basic_operators.htm)
and built-in functions in Python (https://docs.python.org/3/library/functions.html)

Answer the following questions in the markdown cell below:

1. Which single-symbol built-in Python **expression** operator returns the floor value of a division of two numbers? 
2. Which built-in Python **function** returns `True` if any element of the iterable is true?

"ENTER YOUR ANSWER HERE"

1. // will return the floor division value in Python

2. any() will return true if any of the iterable is True

---
### Task A.2: Boolean Tests

Assign the variable c, d and e with number or string values, so that all Tests 1-4 in the second next code cell return True.

In [12]:
### ENTER YOUR CODE HERE

c= 1

d= "hi"

e= 0

In [13]:
# TESTS:
Test1 = bool(d)
Test2 = c > e and (type(e) == int)
Test3 = (c or e) == 1
Test4 = (not e) and d == 'hi'

print(Test1, Test2, Test3, Test4)

True True True True

In [14]:
# ASSERT TESTS: these tests tell you if your  
#               results are fulfilling the task.
# (assert will return an AssertionError,
#  if assert expression response is False, 
#  otherwise remain silent)
assert Test1 == True
assert Test2 == True
assert Test3 == True
assert Test4 == True
assert type(c) == int or float or str
assert type(d) == int or float or str
assert type(e) == int or float or str

---
### Task A.3 Sequences

Assign a sentence to a string variable `strSentence`. Then write code, that changes the string to a list `listSentence`, which contains every word of the sentence, but has added `%` in front and at the end of every single word.

**Example:**

The string 

`"Fall is Awesome in Blacksburg"` 

would become a new list:

`['%Fall%','%is%', '%awesome%', '%in%', '%Blacksburg%']`

Investigate the string method `split()` to find out how this might be useful.

In [21]:
### ADD YOUR CODE HERE

strSentence = "Love the Winter in Blacksburg"

split_sentence = strSentence.split()

perc_words = ["%" + word + "%" for word in split_sentence]

print(perc_words)

['%Love%', '%the%', '%Winter%', '%in%', '%Blacksburg%']

---
### Task A.4 Mutability

What does it mean if an object is mutable? What about immutable? Name at least two mutable and two immutable objects in Python.

"ENTER YOUR ANSWER HERE"

By definition mutable objects are the ones which can change their contents and immutable objects can’t change their content.

Two mutable objects: list, and dictionary
Two immutable objects: tuple, and range

---
<a id='list'></a>
# B. Write your Own List Comprehensions

This tasks includes writing several list comprehensions and other operations:

1. Write a list comprehension that selects numbers from 1 and 100 that are divisible by 7 and assigns the result to a list `sevenList`. Use the built-in function `range()`. Search the function in the internet, if you do not know how to use it (simply search for *range Python* in the internet).


2. Assign a list `lackList = [‘cackle’, ‘mack’, ‘kraggle’]` and write a list comprehension that returns the index of the letter k from the list. Assign the result to a variable `foundK`. Apply the function `find()`.


3. Append a fourth string to the list `lackList` using the method `append()`. Then use list comprehensions to return the first letter of each word to a new list `firstLetList`.


4. Write a list comprehension, that generates a list of numbers between 1 and 1000 in steps of 100 and then returns the square of each value. (Hint: `range()`).


5. Develop code that transfers a list `L` containing integer numbers into a second list L2 containing the only the even numbers from L. (Hint: Modulus Operator)


Enter the code for these task items in the five cells below. Use exactly the requested variable names, if you want to test your results with the ASSERT tests below.

In [42]:

### YOUR CODE & COMMENTS HERE - 1.
 
sevenList = [x for x in range(1,100) if x % 7 == 0]

print(sevenList)

[7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98]

In [77]:

### YOUR CODE & COMMENTS HERE - 2.

lackList = ['cackle', 'mack', 'kraggle']

foundK = [word.find('k') for word in lackList]

print(foundK)

[3, 3, 0]

In [78]:

### YOUR CODE & COMMENTS HERE - 3.

lackList.append("Batman")

firstLetList = [word[0] for word in lackList]

print(firstLetList)

['c', 'm', 'k', 'B']

In [85]:

### YOUR CODE & COMMENTS HERE - 4.

list = [num**2 for num in range (1,1001,100)]

print(list)

[1, 10201, 40401, 90601, 160801, 251001, 361201, 491401, 641601, 811801]

In [88]:

### YOUR CODE & COMMENTS HERE - 5.

L = range(1, 1000)

L2 = [num for num in L if num%2==0]

print(L2)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150, 152, 154, 156, 158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180, 182, 184, 186, 188, 190, 192, 194, 196, 198, 200, 202, 204, 206, 208, 210, 212, 214, 216, 218, 220, 222, 224, 226, 228, 230, 232, 234, 236, 238, 240, 242, 244, 246, 248, 250, 252, 254, 256, 258, 260, 262, 264, 266, 268, 270, 272, 274, 276, 278, 280, 282, 284, 286, 288, 290, 292, 294, 296, 298, 300, 302, 304, 306, 308, 310, 312, 314, 316, 318, 320, 322, 324, 326, 328, 330, 332, 334, 336, 338, 340, 342, 344, 346, 348, 350, 352, 354, 356, 358, 360, 362, 364, 366, 368, 370, 372, 374, 376, 378, 380, 382, 384, 386, 388, 390, 392, 394, 396, 398, 400, 402, 404, 406, 408, 410, 412, 414, 416, 418, 420, 422, 424, 426, 428, 430, 432, 434, 436, 438, 440, 442, 444, 446, 448, 450, 452, 454, 456, 458, 460, 462, 464, 466, 468, 470, 472, 474, 476, 478, 480, 482, 484, 486, 488, 490, 492, 494, 496, 498, 500, 502, 504, 506, 508, 510, 512, 514, 516, 518, 520, 522, 524, 526, 528, 530, 532, 534, 536, 538, 540, 542, 544, 546, 548, 550, 552, 554, 556, 558, 560, 562, 564, 566, 568, 570, 572, 574, 576, 578, 580, 582, 584, 586, 588, 590, 592, 594, 596, 598, 600, 602, 604, 606, 608, 610, 612, 614, 616, 618, 620, 622, 624, 626, 628, 630, 632, 634, 636, 638, 640, 642, 644, 646, 648, 650, 652, 654, 656, 658, 660, 662, 664, 666, 668, 670, 672, 674, 676, 678, 680, 682, 684, 686, 688, 690, 692, 694, 696, 698, 700, 702, 704, 706, 708, 710, 712, 714, 716, 718, 720, 722, 724, 726, 728, 730, 732, 734, 736, 738, 740, 742, 744, 746, 748, 750, 752, 754, 756, 758, 760, 762, 764, 766, 768, 770, 772, 774, 776, 778, 780, 782, 784, 786, 788, 790, 792, 794, 796, 798, 800, 802, 804, 806, 808, 810, 812, 814, 816, 818, 820, 822, 824, 826, 828, 830, 832, 834, 836, 838, 840, 842, 844, 846, 848, 850, 852, 854, 856, 858, 860, 862, 864, 866, 868, 870, 872, 874, 876, 878, 880, 882, 884, 886, 888, 890, 892, 894, 896, 898, 900, 902, 904, 906, 908, 910, 912, 914, 916, 918, 920, 922, 924, 926, 928, 930, 932, 934, 936, 938, 940, 942, 944, 946, 948, 950, 952, 954, 956, 958, 960, 962, 964, 966, 968, 970, 972, 974, 976, 978, 980, 982, 984, 986, 988, 990, 992, 994, 996, 998]

In [124]:
# ASSERT tests of your results for 1-3
assert type(sevenList)     == list
assert len(sevenList)      == 14
assert type(lackList)      == list
assert lackList[0] == 'cackle'
assert lackList[1] == 'mack'  
assert lackList[2] == 'kraggle'
assert len(lackList) == 4
assert type(lackList[3])  == str
assert bool(firstLetList[3]) == True

AssertionError:

# ---
<a id='dict'></a>
# C. Dictionaries

### Task C.1: Working with Dictionaries

Create a dictionary object, `dict_DaysInMonth`, that maps a month's name (the dictionary key) to the respective number of days in that month (the value) for January, February, ..., December, assuming it’s not a leap-year.

In [98]:

# YOUR CODE HERE


dict_DaysInMonth = {'January':31, 'February': 28, 'March': 31, 'April': 30, 'May': 31, 'June':30, 'July':31, 'August':31, 'September':30, 'October':31, 'November':30, 'December':31}

How can you list only the values from `dict_DaysInMonth`? Assign the values of the dictionary to a variable `DaysInMonth`.

In [122]:

# YOUR CODE HERE

DaysInMonth = [*dict_DaysInMonth.values()]

#DaysInMonth = list(dict_DaysInMonth.values())

print(DaysInMonth)

type(DaysInMonth)

[31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]

list

In [123]:
# ASSERT tests - Check the result of your code

len(dict_DaysInMonth) == 12

# note the dictionary comprehensions in the following tests
len([d for d in list(DaysInMonth) if d == 31]) == 7
len([d for d in list(DaysInMonth) if d == 30]) == 4

assert type(dict_DaysInMonth) == dict
assert type(DaysInMonth)      == type({'z':1}.values())

TypeError: 'list' object is not callable

---
### Task C.2: Store Data in Dictionaries 


For this task, you should write the data base of the Finnland Meteorological Institue into a dictionary, that contains table header and content in one data structure.

| StatName | ID | Lat | Long |
|:-:|:-:|:-:|:-:|
| Helsinki Kaisaniemi     | 100971 | 60.18 | 24.94 |
| Helsinki Kaivopuisto    | 132310 | 60.15 | 24.96 |
| Helsinki Kumpula        | 101004 | 60.20 | 24.96 |
| Helsinki Malmi airfield | 101009 | 60.25 | 25.05 |
| Helsinki lighthouse     | 101003 | 59.95 | 24.93 |

The dictionary should be named `FIMdata` and it should be **a dictionary of 5 dictionaries**, with each of these 5 dictionaries containing a row of the data table above. Use the station ID's as key of the outer dictionary (instead of the names). Then use the remaining header lines as keys of the inner dictionaries and the remaing columns as values of the inner dictionaries. Make sure to use the same key names as in the table header given above. Use appropriate object types for the content numbers and strings.

In [125]:

### YOUR CODE HERE

FIMdata ={100971:{'StatName': 'Helsinki Kaisaniemi', 'Lat': 60.18, 'Long': 24.94},
          132310:{'StatName': 'Helsinki Kaivopuisto', 'Lat': 60.15, 'Long': 34.96},
          101004:{'StatName': 'Helsinki Kumpula', 'Lat': 60.20, 'Long': 24.96},
          101009:{'StatName': 'Helsinki Malmi airfield', 'Lat': 60.25, 'Long': 25.05},
          101003:{'StatName': 'Helsinki lighthouse', 'Lat': 59.95, 'Long': 24.93}}

In [127]:
# Check the content of your dataset.

assert type(FIMdata) == dict
assert FIMdata[100971]['StatName'] == 'Helsinki Kaisaniemi'
assert FIMdata[101009]['Lat'] == 60.25
assert [e for e in FIMdata] == [100971, 132310, 101004, 101009, 101003]
assert len(FIMdata) == 5
assert len(FIMdata[100971]) == 3

--- 
### Task C.3

Now do the following using methods and operators available for dicitonaries

1. Delete only the station with the ID `132310` from the dictionary (for the station `'Helsinki Kaivopuisto')`. Study and use the operator `del` (see reading book L05_reading_Dictionaries.ipynb).

2. Delete another entry (but not the last one) with the method `.pop()`. Do an internet search to learn the method.

3. Update the name of the station `Helsinki lighthouse` to a shorter name: `lighthouse`. Study and use the method `update()` for this task.

4. Write a list comprehension that extracts only station ID’s and names from your data set. Store the results in the variables FIMIDs and FIMStatNames.

5. Write a list comprehension that extracts all the data for a `lighthouse` station from the dictionary. Store the results in the variable FIMlighthouse.

In [129]:

### YOUR CODE HERE - 1.

del FIMdata[132310]

In [132]:

### YOUR CODE HERE - 2.


FIMdata.pop(101004)

{100971: {'StatName': 'Helsinki Kaisaniemi', 'Lat': 60.18, 'Long': 24.94}, 101009: {'StatName': 'Helsinki Malmi airfield', 'Lat': 60.25, 'Long': 25.05}, 101003: {'StatName': 'Helsinki lighthouse', 'Lat': 59.95, 'Long': 24.93}}

In [136]:

### YOUR CODE HERE - 3.

FIMdata_update = {101003:{'StatName': 'lighthouse', 'Lat': 59.95, 'Long': 24.93}}

# updates the value of key 2
FIMdata.update(FIMdata_update)

print(FIMdata)

{100971: {'StatName': 'Helsinki Kaisaniemi', 'Lat': 60.18, 'Long': 24.94}, 101009: {'StatName': 'Helsinki Malmi airfield', 'Lat': 60.25, 'Long': 25.05}, 101003: {'StatName': 'lighthouse', 'Lat': 59.95, 'Long': 24.93}}

In [150]:

### YOUR CODE HERE - 4.

FIMIDs = [*{k for k in FIMdata.keys()}] # Don't know why list() is not working

print(FIMIDs)

type(FIMIDs)

[101009, 100971, 101003]

list

In [205]:

### YOUR CODE HERE - 5.

for k,v in FIMdata.items():
    if v['StatName'] == 'lighthouse':
        print(v)

{'StatName': 'lighthouse', 'Lat': 59.95, 'Long': 24.93}

---
If you are satisfied with your notebook, save it and push it to your homework repository. Or collect some extra credits beforehand!

---
<a id='opt'></a>
# D. Optional: Deepen Understanding of List Comprehensions

For this task, you have given a list of people data in the following cell. Execute the data cell. Then study the code in the cell further below. It contains a lot of code examples, how to handle lists. Learn, how to interact with the data structure. Try and experiment with the example code in the empty code cells below.

Especially focus on how various list comprehension queries can be merged to retrieve a specific entry, whithout actually looking at the data. For example: What is the name of the oldest person? The code examples provide you a step by step derivation of a comples list comprehension to receive the answer to that.

In [197]:
# Data Set: People

# Creating a list that defines a person: Name, age, points
person = ["Tom Howard", 54, 6.0]

# Creating a list of lists to define a team:
people = [
    ["Tom Howard",          54,  6.0],
    ["Jane Grimm",          19,  5.9],
    ["Sam Brown",           25,  6.2],
    ["Sarah Joan Spade",    26, 5.25],
    ["Blaine Jones",        62,  5.8],
    ["Devin Callahan",      32, 5.92],
]

In [198]:
# Retrieving all people's ages
[p[1] for p in people]

[54, 19, 25, 26, 62, 32]

In [206]:
"""Study the following code examples: How to interact with lists."""

#Indexing: accessing certain list entries
people[0]   # first entry
people[-2]  # second last entry

# Slicing
people[0:2]  # first two people

# How many people on the team
len(people)

# print out all list elements
for p in people: print(p)
    
# Access all names
[p[0] for p in people]

# Gives all last names 
[p[0].split()[-1] for p in people]
# (find help for function split listed under:
#  Online help > string (type in search bar) > function split 

# Gives all ages
[p[1] for p in people]

# Gives average age
sum([p[1] for p in people])/float(len(people))

# Gives total height
sum(p[2] for p in people)


# What is the name of the oldest person?
# First, find the max age
ages =[p[1] for p in people] 
max(ages)
# Now, which item is max? - 62
ages.index(62)
# Who is that - person 4
people[4][0]
# Combine all steps before to find the oldest person
people[[p[1] for p in people].index(max([p[1] for p in people]))][0]


# delete list elements
del people[5]

# add list elements
people.append(["Your Name",      23, 5.92])

# Find out what the method pop does!
people.pop()
people.pop(2)

# Find out what methods sort and reverse do exactly
# go to 'Online help' > search for list > find methods
people.sort()
people.reverse()

['Tom Howard', 54, 6.0]
['Jane Grimm', 19, 5.9]
['Sam Brown', 25, 6.2]
['Sarah Joan Spade', 26, 5.25]
['Blaine Jones', 62, 5.8]
['Devin Callahan', 32, 5.92]

Try the examples by copying & pasting them into the code cells below. Study their output. You may also add more code cells, if you like. This practise will help with the expertise in the following tasks.

In [207]:
### Try the examples in this code cell. (This will not be graded.)

[p[0].split()[-1] for p in people]

['Howard', 'Spade', 'Grimm', 'Jones']

In [ ]:
### Try the examples in this code cell. (This will not be graded.)

In [ ]:
### Try the examples in this code cell. (This will not be graded.)

### Task D.1

After studying the examples for list comprehensions as well as string methods, answer the following: which of the operations or functions above are mutating the list? Copy & paste all examples you can find into the markdown cell below.

ENTER YOUR ANSWER HERE

### Task D.2

Write a 1-line long list comprehension that returns the name of the person with the lowest points and assigns it to the variable `NameLowestPoints`. You have to retrieve the result by executing a **code chain of list comprehensions and functions** on the list people, not through simple assignment (similar to the example above for the oldest person). 

The code should work on any other list with the same data structure. For that a second example is provided below.

In [ ]:
# Example 1
people = [
    ["Tom Howard",          54,  6.0],
    ["Jane Grimm",          19,  5.9],
    ["Sam Brown",           25,  6.2],
    ["Sarah Joan Spade",    26, 5.25],
    ["Blaine Jones",        62,  5.8],
    ["Devin Callahan",      32, 5.92],
]

# Example 2
famousGeographers = [
    ["Eratosthenes",            -276,  80],
    ["Al Idrisi",               1100,  65],
    ["Alexander von Humboldt",  1769,  68],
    ["Immanuel Kant",           1724,  80],
    ["Carl Ritter",             1779,  80],
    ["Arnaldo Faustini",        1872,  72],
]